.noto-sans-jp-title-heading {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #202124;
}

.header {
    background-color: #ffffff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    text-decoration: none;
    font-size: 30px;
}

.footer {
    text-align: center;
}
