.header__menu {
    position: absolute;
    top: 20px;
    right: 1%;
}

.header__menu-list {
    margin-bottom: 0;
    display: flex;
    padding: 10px 6px;
    list-style: none;
}

.header__menu-item {
    margin-right: 20px;
}
.header__menu-link {
    text-decoration: none;
    color: #202124;
    font-size: 15px;
}

.button-as-link {
    border: none;
    background: none;
    cursor: pointer;
}

.user-list__content {
    background-color: #f2f2f2;
    padding: 20px 100px 70px;
    margin: 0 auto;
    max-width: 1230px;
    height: calc(100vh - 150px);
}

.user-list__title {
    margin-bottom: 20px;
    color: #202124;
    text-align: center;
    font-size: 18px;
}

.user-list__table {
    width: 100%;
    border-collapse: collapse;
}

.user-list__row {
    border-top: 1px solid #202124;
}

.user-list__data {
    width: 20%;
    text-align: center;
    padding: 20px 10px;
    font-size: 15px;
}

.pagination {
    margin: 10px;
    display: flex;
    justify-content: center;
}
